*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
header{
    height: 60vh;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}
header div{
    height: 40vh;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 30%;
}
h1 {
    color: purple;
}